<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="card card-body">
            <form>
                <div class="form-group">
                    <h1>Why choose Favorite Things as a topic</h1>
                    <p>I chose to use a topic that was about things that I like because I feel that trying to narrow it down more wouldn't work. I like a lot of stuff, and trying to narrow it down into a specific catagory would make it harder for me to think of a list.</p>
                </div>
            </form>
        </div>
    </div>
</div>
